@model Car[];

@{
    ViewData["Title"] = "Car Page";
}

<div class="card shadow p-2">
    <h1>@ViewData["Title"]</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID Registrasi</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Cars)
            {
                <tr>
                    <td>@item.IDRegistration</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Varian</td>
                </tr>
            }
        </tbody>
    </table>
</div>